@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background: rgb(185, 185, 185); */
    font-family: Inter;
    background-color: black;
}

header {
    max-width: 80%;
    margin: 0 auto;
}

/* shared style st  */
.btn-primary {
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.btn-secondary {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-left: 14px;
}



/* shared style  end*/
/* navbar start  */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    text-align: center;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 36px;
    color: rgb(230, 83, 60);
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 18px;
    color: rgb(255, 255, 255)
}

#home {
    border-radius: 46px;
    padding: 6px 12px;
    background: rgb(230, 83, 60);
}

.bars {
    display: none;
}

/* banner  */
.banner-container {
    display: flex;
    margin-top: 32px;
    /* gap: 80px; */
    justify-content: space-between;
    align-items: center;
}

.banner-img {
    width: 349px;
    height: 580px;
    position: relative;
}

.banner-title {
    font-size: 4.5rem;
    color: white;
    font-weight: 900;
}

.banner-title>span {
    font: italic;
}

.banner-text {
    width: 520px;
}

.banner-desc {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 24px;
    margin-bottom: 24px;
}

.card {
    position: absolute;
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    text-align: center;
    padding-top: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    top: 300px;
    right: 40px;
}

.card-title {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.card-des {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
}

.color {
    width: 40px;
    height: 40px;
    left: 787px;
    top: 584px;
    background: rgb(230, 83, 60);
    border-radius: 50%;

}

.card-container {
    position: absolute;
    bottom: -60px;
    left: 670px;
    display: flex;
    text-align: center;
    padding-top: 18px;
    padding-left: 15px;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 76px;
}

.title {
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
}

.description {
    color: rgba(239, 237, 232, 0.65);
}

/* habit section  */
.habit-section {
    max-width: 80%;
    margin: 0 auto;
    margin: 80px;
    text-align: center;
}

.habit-title {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.habit-desc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top: 14px;
}

.image-container {
    display: flex;
    gap: 55px;
    justify-content: center;
    margin-top: 45px;
}

.image-card {
    border-radius: 50%;
}

.image-title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 14px;
}

.run-section, .container {
    max-width: 80%;
    margin: 0 auto;
}

/* run section  */
.run-title {
    font-size: 2.6rem;
    font-weight: 900;
    color: white;
}

.run-desc {
    font-size: 14px;
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.run-text-container {
    max-width: 367px;
}

.run-section {
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 40px;
}

.run-img {
    max-width: 367px;
    border-radius: 10px;
}

/* run sec end  */

.container {
    margin-top: 60px;
    /* max-width: 80%;
    margin: 0 auto; */
}

.trainer-title {
    font-size: 2.6rem;
    font-weight: 800;
    color: white;
}

.trainer-desc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.row-1 {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 1fr;
}

.container img {
    width: 100%;
    height: 218px;
    border-radius: 5px;
}

.img-title {
    margin-top: -70px;
    margin-left: 30px;
    width: 176px;
    height: 34px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

#image-title-1 {
    color: rgb(0, 0, 0);
}

.row-2 {
    display: grid;
    grid-template-columns: 1.15fr .85fr 1fr;
}

/* BMI Calculator  */
.bmi-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    margin-top: 80px;
    margin-left: 150px;
}

.bmi-desc {
    margin-left: 150px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
    margin-bottom: 80px;
}



/* bmi calculator  */ 

.bmi-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  rgba(255, 255, 255, 0.5);
    padding: 50px 135px;
    
}
.table-container,
.input-container > h3{
    color: white;
    font-size: 1.8rem;
    margin-bottom: 32px;
}
.input-des{
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
margin-top: 14px;
margin-bottom: 24px;
}
.bmi-container{
    background: rgb(34, 34, 34);
}

td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
}
table{
    border-collapse: collapse;
    margin-top: 50px;
}
th{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 500;
border: 1px solid rgba(255, 255, 255, 0.5);
padding: 18px 12px 24px 12px;

}
.btn{
    width: 225.5px;
height: 40px;
    border-radius: 8px; 
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
background: rgba(255, 255, 255, 0.1);
text-align: left;
padding-left: 25px;
}
.input-tag{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px;
    margin-right: 10px;
}
.input-box{
    width: 450px;
    height: 40px;
    border-radius: 8px; 
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
background: rgba(255, 255, 255, 0.1);
text-align: left;
margin-top: 12px;
padding-left: 25px;
position: relative;
}
main > #bmi-id{
    width: 100%;
}

.fa-solid fa-angle-down{
    color: white;
    position: absolute;
    top: 100px;
}




@media screen and (max-width : 576px) {
    .nav-link {
        display: none;
    }

    .bars {
        display: block;
    }

    .banner-container {
        flex-direction: column;
        gap: 128px;
    }

    .banner-title {
        font-size: 2rem;
        color: white;
        font-weight: 900;
    }

    .banner-img {
        width: 353px;
        height: 588px;
    }

    .card {
        position: absolute;
        top: 550px;
        right: 20px;
    }

    .card-container {
        position: absolute;
        bottom: -470px;
        left: 20px;

    }

    .banner-text {
        width: 335px;
        height: 129px;
    }

    .btn-primary {
        padding: 8px 16px 8px 16px;
        font-size: 16px;
    }

    .btn-secondary {
        padding: 8px 16px 8px 16px;
        font-size: 16px;
    }

    .btn-div {
        display: flex;
    }

    .image-container,
    .run-section {
        flex-direction: column;
    }

    .habit-title {
        font-size: 1.5rem;
    }

    .run-img {
        width: 280px;
        margin-top: 20px;
        border-radius: 10px;
    }

    .row-1,
    .row-2 {
        display: grid;
        grid-template-columns: 1fr;

    }
    .bmi-container{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px 30px;
    }
    .btn{
        width: 170px;
        height: 40px;
        margin-right:-60px;
    }
    .input-box{
        width: 320px;
        height: 40px;
    }

    .bmi-title {
        font-size: 1.5rem;
        font-weight: 900;
        color: white;
        margin-top: 70px;
        margin-left: 50px;
    }
    
    .bmi-desc {
        margin-left: 50px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 14px;
        margin-bottom: 40px;
    }










}